/* Index */
#page-index #logo {
    width: 90%;
    max-width: 600px;
}

#page-index #main-btn-container {
    width: 100%;
}

#page-index #main-btn-container .std-btn {
    margin-top: 50px;
    width: 50%;
}

#page-index #main-btn-container .std-btn:first-child {
    margin-top: 150px;
}


/* Search */
#page-search #tagControl {
    position: relative;
    width: 100%;
}

#page-search #pageControl {
    display: flex;
    align-items: center;
}

#page-search #pageControl button {
    margin: 0 5px;
}

#page-search #contentControl {
    display: flex;
    justify-content: space-around;
}

#page-search #showContainer {
    display: flex;
    justify-content: space-around;
}

#page-search #contentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#page-search #tagContainer {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#page-search #searchIcon {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;
    height: calc(100% - 20px);
}

#page-search #searchIcon img {
    height: 100%;
}

#page-search #searchIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#page-search #searchContentContainer {
    width: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    overflow: hidden;
}

#page-search #searchControl {
    position: sticky;
    top: 0;
    background-color: #EEE;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #C6C6C6;
}

#page-search #searchContentContainer img {
    width: 100%;
    vertical-align: bottom;
}

#page-search #searchContentContainer object {
    height: calc(100% - 14.4px);
    width: 100%;
    line-height: 0;
    vertical-align: bottom;
}

#page-search .linkButton {
    color: #0000EE;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding: 0;
    background: none;
    border: none;
    width: 100%;
}

#page-search .linkButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

#page-search #lowerSegment {
    margin-bottom: 50px;
}

#page-search #upperSegment > .goto-btn {
    position: fixed;
    bottom: 0;
    margin: 10px;
    background-color: #EEEEEE;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #C6c6c6;
}

#page-search .jsgif_toolbar {
    min-width: auto !important;
}

#page-search #searchContentContainer canvas {
    width: 100%;
}

/* Edit */
#page-edit #lowerSegment {
    margin-top: 10px;
}

#page-edit #lowerSegmentControlsMiddle {
    display: flex;
    justify-content: center;
}

#page-edit #tagField {
    max-width: 650px;
    width: 100%;
    resize: vertical;
    height: 100px;
}

#page-edit #pageField {
    max-width: 125px;
}

#page-edit #idField {
    max-width: 75px;
}

#page-edit #lowerSegmentControlsBottom {
    display: flex;
    max-width: 650px;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

#page-edit .std-btn-center {
    margin: 5px auto;
}

#page-edit .std-btn-no-margin {
    margin: 0;
}

#page-edit #contentController * {
    margin: 0 5px;
}

#page-edit #contentController {
    display: flex;
    justify-content: center;
    width: 650px;
    max-width: 100%;
    margin: 5px auto;
}

#page-edit #contentController .std-text {
    width: 100%;
}

#page-edit #contentController * {
    margin: 0 5px;
}

#page-edit #contentContainer img {
    max-width: 100%;
}

#page-edit #editContentContainer > img {
    width: 100%;
}

#page-edit #editContentContainer object {
    width: 650px;
    height: 450px;
}

#page-edit #applyEditsTagBtn {
    padding: 4px 12px;
    line-height: 25px;
    height: 25px;
    box-sizing: content-box;
}

#page-edit #editOpenInBrowser {
    margin: 0 auto 5px auto;
    border: 0;
    background: transparent;
    color: #0000EE;
    font-size: 13px;
    text-decoration: underline;
    display: block;
    cursor: pointer;
}

/* Options */
#page-options #lowerSegment {
    margin-top: 125px;
}

#page-options .optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#page-options #lowerSegment .optionContainer .std-btn {
    margin-top: 0;
    width: 150px;
}

#page-options .optionButtonContainer {
    margin: 20px auto 0 auto;
    max-width: 700px;
    width: 100%;
}

#page-options #saveBtn {
    max-width: 200px;
    margin-top: 50px;
}

/* Media queries */
@media screen and (max-width: 960px) {
    main {
        max-width: 100%;
        padding-top: 30px;
    }

    header {
        z-index: 100;
        background-color: #535353;
        height: 30px;
        box-sizing: border-box;
        align-items: center;
    }

    #page-search #searchControl {
        top: 30px;
    }
}

@media screen and (max-width: 770px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 650px) {
    #page-search #searchContentContainer {
        grid-template-columns: 1fr 1fr;
    }

    #page-search {
        padding-bottom: 40px;
    }

    #page-search #lowerSegment {
        margin-bottom: 0;
    }

    #page-search #upperSegment > .goto-btn {
        position: fixed;
        bottom: 0;
        z-index: 200;
        width: 100%;
        background-color: #EEE;
        border: 0;
        border-top: 1px solid #C6C6C6;
        box-sizing: border-box;
        line-height: 30px;
        padding: 5px 10px;
        text-align: left;
        color: #0000EE;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    #slide {
        padding: 0;
    }

    #page-index #main-btn-container .std-btn {
        font-size: 16px;
        width: 90%;
    }

    #page-options #lowerSegment {
        box-sizing: border-box;
        padding: 0 10px;
    }

    #page-options .std-text {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #page-search #searchContentContainer {
        grid-template-columns: 1fr;
    }
}


/* TEMPORARY HIDE */
#pageControl {
    display: none !important;
}