body {
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

main img, main h2 {
    width: 100%;
    margin: 0;
}