/* Local */
#upperSegment {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

#upperSegment > a {
    position: absolute;
    left: 0;
}

#lowerSegment {
    margin-top: 125px;
}

.optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}